<h2 data-magellan-destination="home"></h2>
<a name="home"></a>

<div class="row" style="background: white">
  <div class="large-4 large-offset-4 small-6 small-offset-3 columns">
    <%= image_tag 'subjectwell.png', class: 'logo' %>
  </div>
</div>

<div class="row hide-for-small">
  <div class="small-12 columns">
    <div id="main_nav" data-magellan-expedition="fixed">
      <dl class="sub-nav">
        <dd data-magellan-arrival="home"><a href="#home">HOME</a></dd>
        <dd data-magellan-arrival="advantages"><a href="#advantages">ADVANTAGES</a></dd>
        <dd data-magellan-arrival="capabilities"><a href="#capabilities">CAPABILITIES</a></dd>
        <dd data-magellan-arrival="compliance"><a href="#compliance">COMPLIANCE</a></dd>
        <dd data-magellan-arrival="about_us"><a href="#about_us">ABOUT US</a></dd>
      </dl>
    </div>
  </div>
</div>

<div class="row">

  <div class="small-12 large-8 columns">
    <section>
      <h2>Only pay for subjects that randomize.</h2>
    </section>
    <div class="parallax-container" data-image-src="assets/bg/home.jpg" data-natural-width="1200" data-natural-height="803" data-parallax="scroll" data-position-x="0px" data-bleed="10" data-speed="0.2" style="height: 400px; margin-top: 20px;"></div>
    <section>

      <p>
        SubjectWell helps research sites and sponsors nationwide fill open trials <strong>faster</strong> by increasing
        the number of pre-qualified candidates they receive - <strong>at NO cost.</strong> Yes, that's right, we send
        you pre-qualified candidates free of charge - you only pay if/when a subject randomizes.
      </p>
      <p>
        Our novel, online marketing approach is <strong>proven</strong> to be faster and <strong>more effective</strong>
        than traditional advertising and database marketing that, by design, can only locate subjects who are actively
        searching for studies, a shockingly low 2% of the population.  SubjectWell’s innovative approach targets the
        other 98% of the population.
      </p>
      <p>
        Consider the vast number of individuals who are online every day and have no knowledge of clinical trials.
        These are the people that we are reaching.  These are the subjects that will fill sponsors’ rosters, keep
        studies on time and on budget, and ultimately, bring new drugs to market in record time.  SubjectWell has
        changed the face of recruiting for clinical trials and succeeds where past methods have floundered.
      </p>
      <p>
        SubjectWell also removes financial risk by only charging for subjects that randomize.  This, coupled with easy
        integration, means that SubjectWell can effortlessly augment enrollment for all of your studies at any number
        of sites. Come join the hundreds of sites, CROs and sponsors we're already supporting across the US.
      </p>

      <div class="show-for-small-only">
        <%= render partial: "signup_form" %>
      </div>


      <div class="row">
        <div class="small-12 large-6 columns">
          <h4 class="subheader">Grow Your Recruiting Pool</h4>
          <p>
            Founded in 2012, SubjectWell is a clinical trials recruiting company. We use an array of proven online marketing
            approaches to find subjects interested in participating in clinical trials and quickly match them to a nearby
            study anywhere in the United States. This process is faster and more effective than traditional advertising and
            database marketing, which typically focus on a single study and a limited geographic area.
          </p>
        </div>
        <div class="small-12 large-6 columns">
          <h4 class="subheader">Consumer Engagement</h4>
          <p>
            SubjectWell is distinguished by a performance based pricing model; Sponsors, CROs and research sites only pay for
            volunteers that SubjectWell delivers. This, coupled with easy integration, means that SubjectWell can
            effortlessly augment enrollment for any study and any number of sites.
          </p>
        </div>
      </div>
    </section>

    <div class="parallax-container" data-image-src="assets/bg/advantages.jpg" data-natural-width="1200" data-natural-height="803" data-parallax="scroll" data-bleed="10" data-speed="0.2" style="height: 250px;"></div>
    <section>
      <h2 data-magellan-destination="advantages">Advantages</h2>
      <a name="advantages"></a>
      <p>
        SubjectWell has been designed to succeed where past methods of subject recruitment have fallen short: improving time
        to market.  Historically, test subjects were identified using traditional media and database marketing, both methods
        that aren’t particularly effective.  These fragmented efforts force sponsors to focus on a single study at a time,
        employing 200 sponsor sites, for example, with advertising and budgeting encompassing 200 different markets.  This
        approach is wasteful, inefficient and unpredictable at best.  Online marketing is a viable alternative to traditional
        media and database marketing, but even that is not being used properly to recruit subjects.  Online marketing is more
        than social media, search engine marketing, banner ads and disease-specific web pages.  These uninspired approaches
        are no more effective than the traditional methods, because they only locate subjects who are actively searching for
        studies, a shockingly low 2% of the population.
      </p>
      <p>
        This is where SubjectWell comes in – we target the other 98% of the population.  Consider the vast number of
        individuals who are online every day and have no knowledge of clinical trials.  These are the people that we are
        reaching.  These are the subjects that will fill sponsors’ rosters, keep studies on time and on budget, and
        ultimately, bring new drugs to market in record time.  SubjectWell has changed the face of recruiting for clinical
        trials and succeeds where past methods have floundered.
      </p>
      <p>
        After identifying potential subjects, SubjectWell speaks directly to them to identify a study and geographical match.
        If these factors exist and the subject expresses an interest in participating, we will refer them to a research site
        immediately.  This approach is effective because it is direct and fast.
      </p>
      <ul>
        <li>
          Recruitment occurs on a constant basis for all sites in a research study, as opposed to the piecemeal method that
          has been employed historically.
        </li>
        <li>
          Nationwide recruitment for new studies is implemented immediately and subjects are delivered to the research sites
          the same day.  This is in direct contrast to the traditional methods, which take days or weeks at best and this
          only after the advertising or database marketing campaign is designed, approved and implemented.
        </li>
        <li>
          Sponsors pay only when SubjectWell performs, thereby taking the risk out of the equation.  We only get paid when we
          deliver eligible patients to research sites.
        </li>
        <li>
          SubjectWell’s services are meant to augment traditional recruiting efforts, so we don’t interfere with the
          traditional recruitment methods already planned or in place.
        </li>
        <li>
          Pay for performance, incremental contribution to enrollment goals and easy implementation sets SubjectWell apart
          from the crowd.
        </li>
      </ul>
    </section>

    <div class="parallax-container" data-image-src="assets/bg/capabilities.jpg" data-natural-width="1200" data-natural-height="803" data-parallax="scroll" data-bleed="10" data-speed="0.2" style="height: 250px;"></div>
    <section>
      <h2 data-magellan-destination="capabilities">Capabilities</h2>
      <a name="capabilities"></a>
      <p>
        SubjectWell has a nationwide online marketing plan in place to locate and engage individuals who are interested in
        participating in clinical trials.  Candidates are immediately contacted by our call center, where their information
        is verified so they can be matched to a study.  These qualified volunteers are then passed to a research site for
        in-depth screening and scheduling.  The entire process is direct, fast and efficient.
      </p>
      <p>
        Every day, thousands of new individuals enter the recruiting system.  This steady stream of volunteers can quickly be
        matched to a study based on their individual health indications and geographical location.  SubjectWell has a quick
        and simple process for adding studies and sites.  This allows sponsors to get started with the recruitment process
        quickly, or even recruit new patients mid-study if necessary.  Furthermore, SubjectWell manages the feedback loop
        with the sites, providing real time reports for the sponsors in areas such as recruiting performance,
        disqualification rate, reasons for disqualification and other pertinent metrics.  SubjectWell has implemented a
        variety of useful algorithms and tools to track flow of leads, studies and sites.
      </p>
    </section>

    <div class="parallax-container" data-image-src="assets/bg/compliance.jpg" data-natural-width="1200" data-natural-height="803" data-parallax="scroll" data-bleed="10" data-speed="0.2" style="height: 250px;"></div>
    <section>

      <h2 data-magellan-destination="compliance">Compliance</h2>
      <a name="compliance"></a>
      <p>
        All SubjectWell processes, tools and data centers are HIPAA compliant, ensuring that all medical and personal patient
        information is accurate and secure.  SubjectWell works closely with sponsors and sites to ensure IRB approval of
        appropriate material.  The result is a system that works quickly and efficiently to identify patients that are
        eligible for research studies, all while following current laws and ensuring the privacy of test subjects.
      </p>
    </section>

    <section>
      <h2 data-magellan-destination="about_us">About Us</h2>
      <a name="about_us"></a>
      <p>
        SubjectWell was founded by a group of entrepreneurs and operators that have a history of developing unique working
        solutions to difficult real world problems.  With years of experience in building high volume and reliable solutions
        and processes, sponsors’ priorities become our priorities.  Our innovative processes are easily integrated into a
        variety of geographically varied businesses.  With almost 30 years of collective experience in online marketing, we
        currently generate more than half a million leads every month.  We also bring 25 years of experience in clinical
        research, currently owning and operating a successful research site.
      </p>
      <hr/>
      <div class="row">
        <div class="small-4 columns">
          <%= image_tag 'headshots/rick.jpg' %>
        </div>
        <div class="small-8 columns">
          <h4 class="subheader">Rick Westervelt, President</h4>
          <p>
            Rick has a penchant for turning good ideas into great companies.  He managed Department of Defense R&D projects
            while working at Texas Research International, started breweries in Austin and Chicago and served as Director of
            Business Development for Hand Technologies.  More recently Rick was the President of SKYLIST, an Austin based
            email service provider that was acquired by Datran Media.  He then served at President of Constructive Ventures,
            a condominium development company that built six projects and more than 800 residential units in downtown Austin.
            In each of these businesses Rick defined clear goals, developed detailed plans and executed to a successful
            outcome.  SubjectWell offers an exciting opportunity to do this once again.  Rick graduated from the University
            of Portland with a degree in Engineering Science.
          </p>
        </div>
      </div>

      <hr/>
      <div class="row">
        <div class="small-4 columns">
          <%= image_tag 'headshots/kip.jpg' %>
        </div>
        <div class="small-8 columns">
          <h4 class="subheader">Kip McKenzie, Founder</h4>
          <p>
            Kip has over 20 years of experience in clinical research experience and during that time has served in many
            different roles. Kip started his career at Pharmaco (which later became PPD) which is one of the largest Clinical
            Research Organizations in the industry. In 2000, Kip co-founded MetaClin Research, a niche CRO and research site.
            In 2001-2003, while COO of MetaClin Research, Kip lead the development of an Internet based electronic data
            capture product, eTrials. In 2006, Kip founded Tekton Research, Inc., and is currently president and CEO. In
            2010, Kip co-founded Trovare, Inc. and currently serves as president and CEO. Kip and his team, at Tekton
            Research, have ongoing projects with The University of Texas, Biomedical Engineering Department, to pioneer
            better methods to assess response to rheumatology treatments.
          </p>
        </div>
      </div>

      <hr/>
      <div class="row">
        <div class="small-4 columns">
          <%= image_tag 'headshots/ivor.jpg' %>
        </div>
        <div class="small-8 columns">
          <h4 class="subheader">Ivor Clarke, Founder</h4>
          <p>
            Working for 12 years in online marketing and lead generation, Ivor has always been excited about finding
            innovative solutions to business problems.  Joel and Ivor have collaborated together for over a decade and bring
            that experience to bear at SubjectWell to create systems that rapidly match prospects with new clinical studies.
            Previously, Ivor worked for Datran Media and Microsoft and graduated with degrees in Human Computer Interaction
            and Information & Decision Systems from Carnegie Mellon University.
          </p>
        </div>
      </div>

      <hr/>
      <div class="row">
        <div class="small-4 columns">
          <%= image_tag 'headshots/joel.jpg' %>
        </div>
        <div class="small-8 columns">
          <h4 class="subheader">Joel Lucas, Founder</h4>
          <p>
            Joel is a lead generation-focused entrepreneur with a strong technical background and a passion for operations.
            Joel was one of the first employees of Skylist and grew with the company from 4 to 70 employees at which point it
            was acquired by Datran Media.  Software Joel has written has been used by companies such as Turner Broadcasting
            and Microsoft.  Since leaving Datran Media in 2008, he has founded 3 companies with Ivor Clarke.  Joel received a
            Computer Science degree from Carnegie Mellon University and lives in Austin Texas with his wife Mercan.
          </p>
        </div>
      </div>
    </section>
  </div>

  <div class="small-12 large-4 columns">
    <div class="show-for-medium-up">
      <%= render partial: "signup_form" %>
    </div>
  </div>

</div>


